<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <p>
        <a href="<%= config.root %>sitemap.xml"><%- __('sitemap') %></a>
        <span> | </span><a href="<%= config.root %>atom.xml"><%- __('footer_rss') %></a>
        <span> | </span><a href="<%= config.root %>about/"><%- __('contact_author') %></a>
      </p>
      <p>
        <span>Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.</span>
        <span>Theme by <a href="https://github.com/geekveteran/hexo-theme-BlackRock/" target="_blank">BlackRock.</a></span>
        <span>Powered by <a href="https://hexo.io/" target="_blank">Hexo.</a></span>
      </p>
    </div>
  </div>
</footer>
